h1 {
  color: white;
  margin: 10px 50px
  background: blue;
  font-size: 100px;
  text-align: center;
  background: linear-gradient(to bottom,blue,red);
}
#fo{
  font-family: 'Vast Shadow', cursive;

font-size: 150px;
}
p1
{
  font-size: 35px;
    background: linear-gradient(to bottom,blue,red);
  color: white;
}
p2 { font-size: 25px;
  color: white;
    background: linear-gradient(to top,blue,red);
  text-align:center;
  
  
} 
#popy{

  color:white;
  background:blue;
   transition :background 1s ease;
  animation: bright 1s ease 0s infinite reverse;
  float:center;
  
}
button:hover{
  background:red;
}
  
}
body{
  background:blue;
}
@keyframes pop
{
  from:{
    background: red;
  }
  to:{
    background: blue;
  }
}
@keyframes bright{
  from{ background:red;} to 
  { background:blue
    ;
}
}
label
{
  color:white; font-size: 20px;background: linear-gradient(to right,blue,red);

}
p{
  background: linear-gradient(to top,blue,red);
  text-align:center;color:white;font-size:20px;

}
body{
	background:black;}
foot{
  color:white;background: radial-gradient(red,blue);
}
form{
  
  background: radial-gradient(blue,red);
  text-align:center;color:white;font-size:25px;
 
}
#fo{
  font-family: 'Vast Shadow', cursive;

font-size: 150px;
}
